.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: rgb(43, 2, 34);
}

#selection{
  min-height: 400px;
  background-color: rgb(193, 231, 210);
  border-radius: 5px;
  border-color: greenyellow;
  padding: 10px;
  border: 5px;
}

#header {
  text-align: center;
  color: #342bb7;
  font-family: 'Georgia', serif;
  font-size: 3.5em;
  padding: 20px 0;
  border-bottom: 3px solid #2b74b7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


#armySelect{
  font-family: 'Playfair Display SC', serif;


}